grafana:
  enabled: true
  adminPassword: admin
  service:
    type: NodePort
    nodePort: 30000

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorNamespaceSelector: {}
