apiVersion: apps/v1
kind: Deployment
metadata:
  name: bankguard-api
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: bankguard-api
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "512Mi"
            cpu: "400m"
        startupProbe:
          httpGet:
            path: /health
            port: 5000
          failureThreshold: 30
          periodSeconds: 10
          timeoutSeconds: 5    # ← AJOUTÉ ICI !
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          periodSeconds: 30
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 3
