apiVersion: apps/v1
kind: Deployment
metadata:
  name: bankguard-api
spec:
  replicas: 1
  revisionHistoryLimit: 1  # ← REDUIT à 1 seule révision historique
  template:
    spec:
      containers:
      - name: bankguard-api
        resources:
          requests:
            memory: "512Mi"  # ← AUGMENTÉ
            cpu: "400m"
          limits:
            memory: "1Gi"    # ← AUGMENTÉ
            cpu: "800m"
        startupProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 20  # ← AJOUTÉ
          periodSeconds: 10
          timeoutSeconds: 10       # ← AUGMENTÉ (5 → 10)
          failureThreshold: 30
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          periodSeconds: 45        # ← AUGMENTÉ (30 → 45)
          timeoutSeconds: 10       # ← AUGMENTÉ (5 → 10)
          failureThreshold: 6
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          periodSeconds: 30
          timeoutSeconds: 10       # ← AUGMENTÉ
          failureThreshold: 3
