apiVersion: apps/v1
kind: Deployment
metadata:
  name: bankguard-api
spec:
  replicas: 2  # Moins de réplicas pour dev
  template:
    spec:
      containers:
      - name: bankguard-api
        # Ressources réduites pour dev
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
        # Variables supplémentaires pour dev
        env:
        - name: DEVELOPMENT_MODE
          value: "true"
        - name: SKIP_AUTH
          value: "true"
        - name: FLASK_DEBUG
          value: "true"
        - name: DEBUG_METRICS
          value: "1"
