apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bankguard-dev

resources:
  - ../../base
  - postgres-deployment.yaml
  - postgres-service.yaml
  - redis-deployment.yaml
  - redis-service.yaml
  - service-monitor.yaml
  - grafana-dashboard.yaml
  - prometheus-rules.yaml

# ⚠️ TAG PLACEHOLDER — sera modifié automatiquement par ArgoCD Image Updater
images:
  - name: ghcr.io/laurentmd5/bankguard-api
    newTag: 68039fa

configMapGenerator:
  - name: bankguard-config
    literals:
      - ENVIRONMENT=development
      - LOG_LEVEL=DEBUG
      - DB_HOST=postgres-service.bankguard-dev.svc.cluster.local
      - REDIS_HOST=redis-service.bankguard-dev.svc.cluster.local
      - FLASK_ENV=development

secretGenerator:
  - name: bankguard-secrets
    type: Opaque
    literals:
      - DB_PASSWORD=fakepassword123
      - REDIS_PASSWORD=redispass123
      - SECRET_KEY=mysecretkey123456
      - JWT_SECRET=jwtsecret789012

generatorOptions:
  disableNameSuffixHash: true

patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: bankguard-api
