apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bankguard-dev

resources:
- ../../base
- postgres-deployment.yaml
- redis-deployment.yaml 

patchesStrategicMerge:
- deployment-patch.yaml
- image-patch.yaml  

images:
- name: ghcr.io/laurentmd5/bankguard-api
  newTag: latest-dev

configMapGenerator:
- name: bankguard-config
  literals:
    - ENVIRONMENT=development
    - LOG_LEVEL=DEBUG
    - DB_HOST=postgres-service.bankguard-dev.svc.cluster.local
    - REDIS_HOST=redis-service.bankguard-dev.svc.cluster.local
    - FLASK_ENV=development

secretGenerator:
- name: bankguard-secrets
  literals:
    - DB_PASSWORD=fakepassword123
    - REDIS_PASSWORD=redispass123
    - SECRET_KEY=mysecretkey123456
    - JWT_SECRET=jwtsecret789012
  type: Opaque


configurations:
  - kustomizeconfig.yaml
