apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bankguard-dev

resources:
  - ../../base

patches:
  - deployment-patch.yaml
  - configmap-patch.yaml

patchesJson6902:
  - target:
      group: apps
      version: v1
      kind: Deployment
      name: bankguard-api
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: FLASK_DEBUG
            value: "true"
          - name: DEBUG_METRICS
            value: "1"

images:
  - name: bankguard-api
    newName: ghcr.io/laurentmd5/bankguard-api
    newTag: latest-dev

configMapGenerator:
  - name: bankguard-config
    behavior: merge
    literals:
      - ENVIRONMENT=development
      - LOG_LEVEL=DEBUG
      - DB_HOST=postgres-service.bankguard-dev.svc.cluster.local
      - REDIS_HOST=redis-service.bankguard-dev.svc.cluster.local
      - FLASK_ENV=development


