apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: bankguard-dev

resources:
- ../../base
- bankguard.yaml
- bankguard-secrets.yaml
- configmap-patch.yaml
- deployment-patch.yaml
patches:
- path: deployment-patch.yaml
  target:
    kind: Deployment
    name: bankguard-api
    version: v1
- path: configmap-patch.yaml
  target:
    kind: ConfigMap
    name: bankguard-config
    version: v1
- patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
  target:
    kind: Deployment
    name: bankguard-api
    version: v1

images:
- name: bankguard-api
  newName: ghcr.io/laurentmd5/bankguard-api
  newTag: latest-dev

configMapGenerator:
- behavior: merge
  literals:
  - ENVIRONMENT=development
  - LOG_LEVEL=DEBUG
  - DB_HOST=postgres-service.bankguard-dev.svc.cluster.local
  - REDIS_HOST=redis-service.bankguard-dev.svc.cluster.local
  - FLASK_ENV=development
  name: bankguard-config

secretGenerator:
- behavior: merge
  files:
  - bankguard-secrets.yaml
  name: bankguard-secrets
  type: Opaque
