apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: bankguard-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        env:
        - name: POSTGRES_USER
          value: "bankguard"
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: bankguard-secrets
              key: DB_PASSWORD
        - name: POSTGRES_DB
          value: "bankdb"
        ports:
        - containerPort: 5432
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
