name: BankGuard CI/CD

on:
  push:
    branches:
      - main

permissions:
  contents: write
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        IMAGE_TAG=${GITHUB_SHA::7}
        IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/bankguard-api

        docker build -t ${IMAGE_NAME}:${IMAGE_TAG} ./app
        docker push ${IMAGE_NAME}:${IMAGE_TAG}

        echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_ENV

    - name: Update GitOps manifests with image tag
      run: |
        sed -i "s/__IMAGE_TAG__/${IMAGE_TAG}/g" \
          gitops-manifests/apps/bankguard/base/deployment.yaml

    - name: Commit GitOps changes
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        git add gitops-manifests/apps/bankguard/base/deployment.yaml
        git commit -m "deploy(bankguard): image ${IMAGE_TAG}"
        git push
